/* styles.css */

body.user-page {
	
    width: 500px;
    height: 700px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100vh;
}
.alluser{
	display: flex;
    align-content: flex-end;
    justify-content: space-around;
}
.user-container {
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.user-profile-image img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.user-info {
    text-align: left;
    margin-bottom: 20px;
}

.user-info strong {
    display: inline-block;
    width: 100px;
}

.user-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 0;
}

.user-button:hover {
    background-color: #45a049;
}

.user-button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-button-container .user-button {
    width: 100%;
    max-width: 300px;
}
