/* 기본 설정 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

/* 컨테이너 */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    height: 650px;
}

/* 제목 */
h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* 링크 */
a {
    text-decoration: none;
    color: #555;
}

a:hover {
    text-decoration: underline;
}

/* 메인 리스트 */
.mainlist {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

/* 베스트 컨텐츠 및 리스트 */
.bestcontent,
.bestlist {
    width: 48%;
}

.bestcontent .bcsubject,
.bestlist div {
    margin-top: 10px;
}

/* 포스트 아이템 */
.post-item {
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex; /* Flexbox 사용 */
    justify-content: space-between; /* 양쪽 끝으로 배치 */
    align-items: center; /* 세로 정렬 */
}

.post-item:hover {
    background-color: #e1e1e1;
}

.post-item .post-details {
    flex-grow: 1;
}

.post-item .post-views {
    color: #007bff;
    font-size: 14px;
    margin-left: 10px;
    white-space: nowrap; /* 내용이 줄바꿈되지 않도록 설정 */
}

/* 센터 라인 */
.centerline {
    width: 2px;
    background-color: #ddd;
    height: auto;
    align-self: stretch;
}
